<div class="section">
    <h3>{{headingTitle}}</h3>
    <div>
        <ul type="square">
        <form method="post" action="/create">
            <li>
            	<label for="basic">Name:</label>
    			<input type="text" name="name" id="name" value=""  />
    		</li>
            <li><label for="basic">Email:</label>
    			<input type="text" name="email" id="email" value=""  />
    		</li>
    		
    		<input type="submit" value="Create">
    		
            </form>
        </ul>
    </div>
</div>